<div class="row hs-body">

  <div class="panel" ng-show="signupDateString">
    <h4>You have been a member since <strong>{{signupDateString}}</strong></h4>
  </div>

  <div class="row" ng-show="accountDetails">
    <div class="large-6 columns">
      <h5>Address</h5>
      <p>{{accountDetails.user.first_name}} {{accountDetails.user.last_name}}<br>
      {{accountDetails.user.billing_address1}}<br>
      {{accountDetails.user.billing_address2}}<br ng-if="accountDetails.user.billing_address2">
      {{accountDetails.user.billing_town}}<br>
      {{accountDetails.user.billing_postcode}}</p>

      <h5>Emergency Contact</h5>
      <p>{{accountDetails.user.emergency_contact_first_name}} {{accountDetails.user.emergency_contact_last_name}}<br>
        {{accountDetails.user.emergency_contact_phone}}</p>
    </div>
    <div class="large-6 columns">
      <h5>Subscription</h5>
      <p>&pound;{{accountDetails.user.subscription_amount}} per month</p>

      <h5>Subscription Status</h5>
      <p>Your subscription status is: <strong>{{subscriptionStatus}}</strong></p>
    </div>

    <p>
      To change any of these details, please email the trustees at trustees@teessidehackspace.org.uk
    </p>

  </div>

  <button class="button" ui-sref="signup" ng-show="showSignupPrompt || !accountDetails">Become a member</button>
  <button class="button" ng-click="logout()">Log out</button>
</div>
